<% layout("layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <br>
    <h3> Create a new listing </h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
        <div class="valid-feedback">
            title looks good
        </div>
    </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" type="text" class="form-control" required></textarea>
        <div class="mb-3">
            <label for="image" class="form-label"> Upload Listing Image </label>
            
            <input name="listing[image]" placeholder="enter image URL/link" type="file" class="form-control" required>
        </div>


    </div>

        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="enter price"  class="form-control"  required>
                <div class="invalid-feedback">
                    please enter valid price
                </div>
            </div>
            
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    please enter valid location
                </div>
            </div>
            

        </div>

        
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
            <div class="invalid-feedback">
                please enter valid country
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category" name="listing[category]" required>
                  <option value="" disabled selected>Select a category</option>
                  <option value="Topworld">Topworld</option>
                  <option value="food">Food</option>
                  <option value="Hotels">Hotels</option>
                  <option value="Snowhotels">Snowhotels</option>
                  <option value="Beachhotels">Beachhotels</option>
                  <option value="Trending">Trending</option>
                  <option value="Castle">Castle</option>
                  <option value="Pool">Pool</option>
                </select>
            </div>
              

        </div>
        
        <br>
        <br><br><br>
            <button class="btn btn-dark blue" > ADD </button>
        
        

    </form>
    </div>
    </div>


